@page
@model dotnet_blog_bmad.Pages.Admin.CallbackModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Processing...</title>
</head>
<body>
    <p>Processing authentication...</p>
</body>
</html>
